@import "../../assets/scss/lib/mixins";
@import "../../assets/scss/lib/variables";

.layout {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include flex(center, center);
  background: rgba($black, 0.4);
}

.container {
  background: $white;
  border-radius: 16px;
}