@import "../../../shared/assets/scss/lib/mixins";
@import "../../../shared/assets/scss/lib/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link {
  @include flex();

  a {
    position: relative;
    @include text(16px, 16px, 500, $gray);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0;
      height: 2px;
      background: $gray;
      border-radius: 4px;
      transition: 0.4s ease;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}