@import "../../../../shared/assets/scss/lib/mixins";
@import "../../../../shared/assets/scss/lib/variables";

.header {
  @include flex(flex-end, center);
  gap: 80px;
  margin-bottom: 40px;
}

.profile {
  @include flex(flex-end, center);
  gap: 16px;

  img {
    width: 48px;
    aspect-ratio: 1/1;
    outline: 1px solid $black;
    border-radius: 100%;
  }

  h4 {
    @include text(20px, 20px, 800, $black);
  }
}

.list {
  @include flex(flex-end, center);
  gap: 72px;
}

.item {
  @include flex(flex-end, center);
  gap: 16px;

  img {
    width: 32px;
    aspect-ratio: 1/1;
  }

  h6 {
    @include text(16px, 16px, 800, $black);
  }
}