@import "../../../shared/assets/scss/lib/variables";
@import "../../../shared/assets/scss/lib/mixins";

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    width: 15px;
  }
  
  &::-webkit-scrollbar-track{
    background: $white;
  }
  
  &::-webkit-scrollbar-thumb{
    background: $blue;
    border-radius: 10px;
    border: 3px solid $white;
  }
}

.title {
  @include text(14px, 18px, 700, $black);
  margin-bottom: 8px;
}

.block {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 18px 0 18px 52px;
  border: 1px solid $border;
  border-radius: 16px;
  outline: none;

  &::placeholder {
    @include text(14px, 18px, 300, $border);
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 60px;
  @include flex(center, center);

  svg {
    font-size: 24px;
    color: $border;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.part {
  position: relative;
}


.file {
  display: none;
}

.uploader {
  padding: 8px 24px;
  margin-bottom: 16px;
  border: 1px solid $blue;
  border-radius: 10px;
  background: $blue;
  @include flex(center, center);
  gap: 16px;
  @include text(16px, 16px, 500, $white);
  transition: 0.3s ease;

  svg {
    font-size: 24px;
  }

  &:hover {
    cursor: pointer;
    background: $white;
    color: $blue;
  }
}
.preview {
  max-width: 360px;
}

.voices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}