@import "../../../../shared/assets/scss/lib/variables";
@import "../../../../shared/assets/scss/lib/mixins";

.wrapper {
  padding: 8px 16px;
  border: 2px solid $border;
  border-radius: 100px;
  @include flex();
  cursor: pointer;
}

.info {
  @include flex(flex-start, center);
  gap: 16px;
}

.img {
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.name {
  @include text(16px, 16px, 700, $black);
}

.audio {
  width: 36px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  @include flex(center, center);
  background: $bg-blue;
  transition: 0.2s ease;

  svg {
    color: $blue;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    background: rgba($bg-blue, 0.8);
  }
}

.active {
  border: 2px solid $black;
}