@import "../../../shared/assets/scss/lib/mixins";
@import "../../../shared/assets/scss/lib/variables";

.forwhom {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 45px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px;
}