@import "../../../../shared/assets/scss/lib/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.dashboard {
  height: 100%;
  background: $white;
  border: 1px solid $border;
  border-radius: 48px;

  .image {
    width: 35%;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  
  h2 {
    font-size: 28px;
    font-weight: 700;
  }
}

.image {
  width: 50%;
}