@import "../../assets/scss/lib/mixins";
@import "../../assets/scss/lib/variables";



.wrapper {
  position: relative;
  @include flex(flex-end, center);
  gap: 12px;
}

.percent {
  margin-top: -10px;
  @include text(12px, 12px, 400, $gray);
}

.bar {
  width: 240px;
  background-color: $border;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress {
  height: 8px;
  background-color: $blue;
  width: 0;
  transition: width 0.4s ease;
}

.current {
  position: absolute;
  bottom: -8px;
  @include text(12px, 12px, 400, $blue);
  right: 0;
}