.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0;
  background: rgba(white, 0.75);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(black, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(60, 60, 60, 0.1);
}

.logo {
  font-family: "Acme", sans-serif;
  @include text(32px, 32px, 400, $blue);
}