@import "../../assets/scss/lib/mixins";
@import "../../assets/scss/lib/variables";

.title {
  @include text(40px, 44px, 800, $black);
  margin-bottom: 20px;

  span {
    color: $blue;
  }
}     

.dashboard {
  height: 36px; 
  @include text(32px, 36px, 800, $black);
}